header {
    position: fixed;
    width: 100vw;
    height: 133px;
    background: rgb(255, 251, 148, .2);
    /* background: linear-gradient(0deg, rgba(255, 251, 148, 0) 0%, rgba(255, 251, 148, .2) 100%); */
    display: grid;
    place-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 100px);
}

header nav .logo {
    display: flex;
}

header nav .logo img {
    border-radius: 5rem;
    height: 30px;
    width: 30px;
}

header nav ul {
    display: flex;
    gap: 8px;
    padding: 2rem;
    padding-inline-end: 0rem;
}

header nav ul li {
    list-style: none;
    height: 30px;
    width: 24px;
    overflow: hidden;
    background-color: hsl(58, 100%, 79%, .8);
    border-radius: 5rem;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul.active li {
    display: flex;
    border-radius: 8px;
    height: fit-content;
}

header nav ul.active li a {
    padding-block: 1rem;
}

header nav ul.active li:hover {
    width: 120px !important;
    transition: .2s;
}

header nav ul li:has(ul) {
    position: relative;
}

header nav ul li a,
header nav ul li p {
    display: flex;
    /* padding-inline: 1rem; */
    transition: .1s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: hsl(272, 100%, 23%);
    letter-spacing: 1px;
}

header nav ul li a,
header nav ul li p {
    font-size: 12px;
    opacity: 0;
    transition: .1s;
}

header nav ul.active li a,
header nav ul.active li p,
header nav ul li:hover a,
header nav ul li:hover p {
    opacity: 1;
    transition: .1s;
}

header nav ul.active li[data-length] {
    min-width: 30px;
}

header nav ul.active li[data-length="1"] {
    width: calc(1 * 15px);
}

header nav ul.active li[data-length="2"] {
    width: calc(2 * 15px);
}

header nav ul.active li[data-length="3"] {
    width: calc(3 * 15px);
}

header nav ul.active li[data-length="4"] {
    width: calc(4 * 15px);
}


header nav ul.active li[data-length="5"] {
    width: calc(5 * 15px);
}

header nav ul.active li[data-length="6"] {
    width: calc(6 * 15px);
}

header nav ul.active li[data-length="7"] {
    width: calc(7 * 15px);
}

header nav ul.active li[data-length="8"] {
    width: calc(8 * 15px);
}

header nav ul.active li[data-length="9"] {
    width: calc(9 * 15px);
}

header nav ul.active li[data-length="10"] {
    width: calc(10 * 15px);
}

header nav ul li ul.websites_submenu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 0px;
    width: fit-content;

    overflow: hidden;
    position: absolute;
    bottom: calc(-100% - 16px);
    right: 0;

    transition: .3s;
}

header nav ul li ul.websites_submenu.active {
    height: 40px;

    transition: .3s;
}

header nav ul li ul.websites_submenu li {}

header nav ul li ul.websites_submenu li a {}

header nav .menu_mobile {}

header nav .menu_mobile .menu_mobile_icon {}

@media (max-width: 1024px) {

    header nav {
        max-width: calc(100% - 60px);
    }
}