main {
    height: 200vh;
    background-image: linear-gradient(hsl(272, 100%, 23%) 1px, transparent 1px), linear-gradient(to right, hsl(272, 100%, 23%) 1px, hsl(240, 53%, 3%) 1px);
    background-size: 150px 150px;
}